*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("img/hero image.jpeg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: 40%;
  background-position-y: center;
  background-attachment: fixed;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  animation: nav-fade-in 1s ease 1.5s forwards;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}

nav ul li {
  padding-right: 5vw;
  padding-left: 5vw;
}

nav ul li a {
  color: white;
  opacity: 0;
  text-decoration: none;
  animation: nav-fade-in 1s ease 2s forwards;
  transition: 0.3s ease-in-out;
}

nav ul li a:hover {
  color: rgb(83, 159, 252);
}

.title {
  color: white;
  text-transform: uppercase;
  font-size: 7vw;
  opacity: 0;
  animation: fade-in 1s ease 500ms forwards;
}

.sub-txt {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  opacity: 0;
  animation: fade-in 1s ease 1s forwards;
}

.title-placement {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.material-symbols-outlined {
  position: absolute;
  bottom: 50px;
  opacity: 0;
  font-size: 200px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: white;
  animation: arrow ease-in-out 1s forwards 1.5s,
    other-arrow linear 1s alternate infinite 2.5s;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.title-section {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2em;
}

.important-txt {
  border: 1px solid black;
  padding: 2rem;
  text-align: center;
  border-radius: .3em;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .5);
}

footer {
  padding: 1rem 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes nav-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(720deg);
  }
}

@keyframes other-arrow {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
/* 
@media (max-width: 760px) {
  .sub-txt {
    text-align: center;
  }
} */
